%h1 Наши контакты
%h3 FaceBook:
%a{href: "https://www.facebook.com/groups/338000513259785/?fref=ts"} Dnepr Acro Family
%h3 Vk:
%a{href: "https://vk.com/acroyoga_lab"} Art acro labs
%h1 Нас можно найти: Сквер Ленина (внизу улицы Кирова)
%div{class: "row", style: "width: 650px;"}
  %div
    %a{href: "#", class: "thumbnail"}
      %iframe{src:"https://www.google.com/maps/d/embed?mid=1nmPRDQMzNvFgl53CuUURzkeg6fI&hl=ru", width:"640", height:"480"}